In [77]:
import pandas as pd
import arff
from utils import *
import sys
import os
sys.path.insert(0, os.path.abspath("../.."))

import warnings
warnings.filterwarnings('ignore')

In [78]:
info_df = []

In [ ]:
print("Processing auction dataset...")
#https://archive.ics.uci.edu/dataset/713/auction+verification
auction = pd.read_csv('../data/data_original/auction.csv')
auction.rename(columns={'verification.result': 'target'}, inplace=True)
auction.replace({True: 1, False: 0}, inplace=True)
auction = auction[[c for c in auction.columns if c != 'target'] + ['target']]
auction.drop(columns=['verification.time'], inplace=True) # other feature

categoricals = []
binaries = []

basic_information(auction)
auction.to_csv('../data/data_prepared/auction.csv', index=False)
info_df.append(info_dict('auction', auction, categoricals, binaries))
auction

Processing auction dataset...
Total NA: 0
Imbalance: target
0    1781
1     262
Name: count, dtype: int64
Dtyoes: process.b1.capacity    int64
process.b2.capacity    int64
process.b3.capacity    int64
process.b4.capacity    int64
property.price         int64
property.product       int64
property.winner        int64
target                 int64
dtype: object
duplicates 0

,process.b1.capacity,process.b2.capacity,process.b3.capacity,process.b4.capacity,property.price,property.product,property.winner,target
0,0,0,2,1,59,1,0,0
1,0,0,2,1,59,2,0,0
2,0,0,2,1,59,4,0,0
3,0,0,2,1,59,6,0,0
4,0,0,2,1,60,1,0,1
...,...,...,...,...,...,...,...,...
2038,2,3,2,1,90,5,0,1
2039,2,3,2,1,90,5,1,1
2040,2,3,2,1,90,5,2,0
2041,2,3,2,1,90,5,3,0
2042,2,3,2,1,90,5,4,1

In [ ]:
print("Processing autism dataset...")
#https://archive.ics.uci.edu/dataset/426/autism+screening+adult
with open("../data/data_original/autism.arff", "r") as file:
    dataset = arff.load(file)
autism = pd.DataFrame(dataset['data'], columns=[x[0] for x in dataset['attributes']])
autism['Class/ASD'].replace({'NO': 0, 'YES': 1}, inplace=True)
autism.rename(columns={'Class/ASD': 'target'}, inplace=True)
autism.drop(columns=['ethnicity', 'relation', 'age', 'contry_of_res'], inplace=True) # NAs
#binaries
autism['gender'].replace({'f': 0, 'm': 1}, inplace=True)
autism['jundice'].replace({'no': 0, 'yes': 1}, inplace=True)
autism['austim'].replace({'no': 0, 'yes': 1}, inplace=True)
autism['used_app_before'].replace({'no': 0, 'yes': 1}, inplace=True)
autism.drop(columns=['age_desc'], inplace=True) #univariate

cols = ['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score', 'A6_Score',
        'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score', 'result']

autism[cols] = autism[cols].apply(pd.to_numeric, errors='coerce').astype('int32')

categoricals = []

numericals = ['result']

binaries = [col for col in autism.columns if col != 'target' and col not in categoricals and col != 'result']

autism = autism[[c for c in autism.columns if c != 'target'] + ['target']]
autism.drop_duplicates(inplace=True)
autism.reset_index(drop=True, inplace=True)

basic_information(autism)
autism.to_csv('../data/data_prepared/autism.csv', index=False)
info_df.append(info_dict('autism', autism, categoricals, binaries))
autism

Processing autism dataset...
Total NA: 0
Imbalance: target
0    358
1    127
Name: count, dtype: int64
Dtyoes: A1_Score           int32
A2_Score           int32
A3_Score           int32
A4_Score           int32
A5_Score           int32
A6_Score           int32
A7_Score           int32
A8_Score           int32
A9_Score           int32
A10_Score          int32
gender             int64
jundice            int64
austim             int64
used_app_before    int64
result             int32
target             int64
dtype: object
duplicates 0

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,gender,jundice,austim,used_app_before,result,target
0,1,1,1,1,0,0,1,1,0,0,0,0,0,0,6,0
1,1,1,0,1,0,0,0,1,0,1,1,0,1,0,5,0
2,1,1,0,1,1,0,1,1,1,1,1,1,1,0,8,1
3,1,1,0,1,0,0,1,1,0,1,0,0,1,0,6,0
4,1,0,0,0,0,0,0,1,0,0,0,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480,1,1,1,1,1,1,0,1,1,1,1,0,1,0,9,1
481,1,1,1,1,1,0,0,0,0,1,0,0,0,0,6,0
482,0,1,0,1,1,0,1,1,1,1,0,0,0,0,7,1
483,1,0,0,1,1,0,1,0,1,1,1,0,0,0,6,0
484,1,0,1,1,1,0,1,1,1,1,0,0,0,0,8,1

In [ ]:
print("Processing biomed dataset...")
#https://www.openml.org/search?type=data&status=active&id=481
with open("../data/data_original/biomed.arff", "r") as file:
    dataset = arff.load(file)
biomed = pd.DataFrame(dataset['data'], columns=[x[0] for x in dataset['attributes']])
biomed.rename(columns={'class': 'target'}, inplace=True)
biomed['target'].replace({'carrier': 1, 'normal': 0}, inplace=True)
biomed.drop(columns=['Observation_number', 'Hospital_identification_number_for_blood_sample', 'Date_that_blood_sample_was_taken'], inplace=True)
biomed = biomed.fillna(biomed.mean(numeric_only=True))

numericals = list(set(biomed.columns) - {'target'})
categoricals = []
binaries = []

basic_information(biomed)
biomed.to_csv('../data/data_prepared/biomed.csv', index=False)
info_df.append(info_dict('biomed', biomed, categoricals, binaries))
biomed

Processing biomed dataset...
Total NA: 0
Imbalance: target
0    134
1     75
Name: count, dtype: int64
Dtyoes: Age_of_patient      int64
ml                float64
m2                float64
m3                float64
m4                float64
target              int64
dtype: object
duplicates 0

     Age_of_patient     ml     m2    m3     m4  target
0                30  167.0   89.0  25.6  364.0       1
1                41  104.0   81.0  26.8  245.0       1
2                22   30.0  108.0   8.8  284.0       1
3                22   44.0  104.0  17.4  172.0       1
4                20   65.0   87.0  23.8  198.0       1
..              ...    ...    ...   ...    ...     ...
204              32   41.0   78.5  10.9  191.0       0
205              32   43.0   87.5   6.0  136.0       0
206              32   30.0   90.5  15.3  136.0       0
207              33   30.0   85.0  11.4  176.0       0
208              33   43.0   88.5  20.3  175.0       0

[209 rows x 6 columns]

In [ ]:
print("Processing credit dataset...")
#https://www.openml.org/search?type=data&status=active&id=46422
with open("../data/data_original/credit.arff", "r") as file:
    dataset = arff.load(file)
credit = pd.DataFrame(dataset['data'], columns=[x[0] for x in dataset['attributes']])
credit.rename(columns={'label': 'target'}, inplace=True)
credit.drop(columns=['id', 'fea_2'], inplace=True)
credit = credit[[c for c in credit.columns if c != 'target'] + ['target']]

numericals = ['fea_4', 'fea_8', 'fea_10', 'fea_11']
categoricals = []  # No true categoricals in credit
binaries = list(set(list(credit.columns)) - set(numericals) - {'target'})

basic_information(credit)
credit.to_csv('../data/data_prepared/credit.csv', index=False)
info_df.append(info_dict('credit', credit, categoricals, binaries))

credit

Processing credit dataset...
Total NA: 0
Imbalance: target
0    900
1    225
Name: count, dtype: int64
Dtyoes: fea_4       float64
fea_8         int64
fea_10        int64
fea_11      float64
fea_1_1      object
fea_1_2      object
fea_1_4      object
fea_1_5      object
fea_1_6      object
fea_1_7      object
fea_3_1      object
fea_3_2      object
fea_3_3      object
fea_5_1      object
fea_5_2      object
fea_6_3      object
fea_6_4      object
fea_6_5      object
fea_6_6      object
fea_6_8      object
fea_6_9      object
fea_6_11     object
fea_6_12     object
fea_6_15     object
fea_6_16     object
fea_7_-1     object
fea_7_1      object
fea_7_2      object
fea_7_3      object
fea_7_4      object
fea_7_5      object
fea_7_7      object
fea_7_8      object
fea_7_9      object
fea_7_10     object
fea_9_1      object
fea_9_2      object
fea_9_3      object
fea_9_4      object
fea_9_5      object
target       object
dtype: object
duplicates 0

,fea_4,fea_8,fea_10,fea_11,fea_1_1,fea_1_2,fea_1_4,fea_1_5,fea_1_6,fea_1_7,...,fea_7_7,fea_7_8,fea_7_9,fea_7_10,fea_9_1,fea_9_2,fea_9_3,fea_9_4,fea_9_5,target
0,77000.0,109,151300,244.948974,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,1
1,113000.0,100,341759,207.173840,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,110000.0,101,72001,1.000000,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,151000.0,110,60084,1.000000,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1
4,59000.0,108,450081,197.403141,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120,173000.0,112,350702,200.000000,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
1121,50000.0,108,450000,169.000000,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1122,76000.0,90,71002,1.000000,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1123,137000.0,90,72000,1.000000,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1124,93000.0,113,151300,273.861279,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
print("Processing darwin dataset...")
#https://www.openml.org/search?type=data&status=active&id=46606
darwin = pd.read_csv('../data/data_original/darwin.csv')
darwin['class'].replace({'P': 0, 'H': 1}, inplace=True)
darwin.rename(columns={'class': 'target'}, inplace=True)
darwin.drop(columns=['ID'], inplace=True)

numericals = list(set(darwin.columns) - {'target'})
categoricals = []
binaries = []

basic_information(darwin)
darwin.to_csv('../data/data_prepared/darwin.csv', index=False)
info_df.append(info_dict('darwin', darwin, categoricals, binaries))
darwin

Processing darwin dataset...
Total NA: 0
Imbalance: target
0    89
1    85
Name: count, dtype: int64
Dtyoes: air_time1             int64
disp_index1         float64
gmrt_in_air1        float64
gmrt_on_paper1      float64
max_x_extension1      int64
                     ...
paper_time25          int64
pressure_mean25     float64
pressure_var25      float64
total_time25          int64
target                int64
Length: 451, dtype: object
duplicates 0

,air_time1,disp_index1,gmrt_in_air1,gmrt_on_paper1,max_x_extension1,max_y_extension1,mean_acc_in_air1,mean_acc_on_paper1,mean_gmrt1,mean_jerk_in_air1,...,mean_jerk_in_air25,mean_jerk_on_paper25,mean_speed_in_air25,mean_speed_on_paper25,num_of_pendown25,paper_time25,pressure_mean25,pressure_var25,total_time25,target
0,5160,0.000013,120.804174,86.853334,957,6601,0.361800,0.217459,103.828754,0.051836,...,0.141434,0.024471,5.596487,3.184589,71,40120,1749.278166,296102.7676,144605,0
1,51980,0.000016,115.318238,83.448681,1694,6998,0.272513,0.144880,99.383459,0.039827,...,0.049663,0.018368,1.665973,0.950249,129,126700,1504.768272,278744.2850,298640,0
2,2600,0.000010,229.933997,172.761858,2333,5802,0.387020,0.181342,201.347928,0.064220,...,0.178194,0.017174,4.000781,2.392521,74,45480,1431.443492,144411.7055,79025,0
3,2130,0.000010,369.403342,183.193104,1756,8159,0.556879,0.164502,276.298223,0.090408,...,0.113905,0.019860,4.206746,1.613522,123,67945,1465.843329,230184.7154,181220,0
4,2310,0.000007,257.997131,111.275889,987,4732,0.266077,0.145104,184.636510,0.037528,...,0.121782,0.020872,3.319036,1.680629,92,37285,1841.702561,158290.0255,72575,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2930,0.000010,241.736477,176.115957,1839,6439,0.253347,0.174663,208.926217,0.032691,...,0.119152,0.020909,4.508709,2.233198,96,44545,1798.923336,247448.3108,80335,1
170,2140,0.000009,274.728964,234.495802,2053,8487,0.225537,0.174920,254.612383,0.032059,...,0.174495,0.017640,4.685573,2.806888,84,37560,1725.619941,160664.6464,345835,1
171,3830,0.000008,151.536989,171.104693,1287,7352,0.165480,0.161058,161.320841,0.022705,...,0.114472,0.017194,3.493815,2.510601,88,51675,1915.573488,128727.1241,83445,1
172,1760,0.000008,289.518195,196.411138,1674,6946,0.518937,0.202613,242.964666,0.090686,...,0.114472,0.017194,3.493815,2.510601,88,51675,1915.573488,128727.1241,83445,1
173,2875,0.000008,235.769350,178.208024,1838,6560,0.567311,0.147818,206.988687,0.099555,...,0.114472,0.017194,3.493815,2.510601,88,51675,1915.573488,128727.1241,83445,1

In [ ]:
print("Processing heart dataset...")
#https://archive.ics.uci.edu/dataset/519/heart+failure+clinical+records
heart = pd.read_csv('../data/data_original/heart.csv')
heart.rename(columns={'DEATH_EVENT': 'target'}, inplace=True)

numericals = ['age', 'creatinine_phosphokinase', 'ejection_fraction', 'platelets', 'serum_creatinine', 'serum_sodium', 'time']
categoricals = []  # No true categoricals in heart
binaries = list(set(heart.columns) - set(numericals) - {'target'})

basic_information(heart)
heart.to_csv('../data/data_prepared/heart.csv', index=False)
info_df.append(info_dict('heart', heart, categoricals, binaries))
heart

Processing heart dataset...
Total NA: 0
Imbalance: target
0    203
1     96
Name: count, dtype: int64
Dtyoes: age                         float64
anaemia                       int64
creatinine_phosphokinase      int64
diabetes                      int64
ejection_fraction             int64
high_blood_pressure           int64
platelets                   float64
serum_creatinine            float64
serum_sodium                  int64
sex                           int64
smoking                       int64
time                          int64
target                        int64
dtype: object
duplicates 0

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,target
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [ ]:
print("Processing pc4 dataset...")
#https://www.openml.org/search?type=data&sort=runs&id=1049&status=active
with open("../data/data_original/pc4.arff", "r") as file:
    dataset = arff.load(file)
pc4 = pd.DataFrame(dataset['data'], columns=[x[0] for x in dataset['attributes']])
pc4.rename(columns={'c': 'target'}, inplace=True)
pc4['target'] = pc4['target'].replace({'TRUE': 1, 'FALSE': 0})
pc4.drop_duplicates(inplace=True)
pc4.reset_index(drop=True, inplace=True)

numericals = list(set(pc4.columns) - {'target'})
categoricals = []
binaries = []

basic_information(pc4)
pc4.to_csv('../data/data_prepared/pc4.csv', index=False)
info_df.append(info_dict('pc4', pc4, categoricals, binaries))
pc4

Processing pc4 dataset...
Total NA: 0
Imbalance: target
0    1167
1     177
Name: count, dtype: int64
Dtyoes: LOC_BLANK                          float64
BRANCH_COUNT                       float64
CALL_PAIRS                         float64
LOC_CODE_AND_COMMENT               float64
LOC_COMMENTS                       float64
CONDITION_COUNT                    float64
CYCLOMATIC_COMPLEXITY              float64
CYCLOMATIC_DENSITY                 float64
DECISION_COUNT                     float64
DECISION_DENSITY                   float64
DESIGN_COMPLEXITY                  float64
DESIGN_DENSITY                     float64
EDGE_COUNT                         float64
ESSENTIAL_COMPLEXITY               float64
ESSENTIAL_DENSITY                  float64
LOC_EXECUTABLE                     float64
PARAMETER_COUNT                    float64
HALSTEAD_CONTENT                   float64
HALSTEAD_DIFFICULTY                float64
HALSTEAD_EFFORT                    float64
HALSTEAD_ERROR_EST                 float64
HALSTEAD_LENGTH                    float64
HALSTEAD_LEVEL                     float64
HALSTEAD_PROG_TIME                 float64
HALSTEAD_VOLUME                    float64
MAINTENANCE_SEVERITY               float64
MODIFIED_CONDITION_COUNT           float64
MULTIPLE_CONDITION_COUNT           float64
NODE_COUNT                         float64
NORMALIZED_CYLOMATIC_COMPLEXITY    float64
NUM_OPERANDS                       float64
NUM_OPERATORS                      float64
NUM_UNIQUE_OPERANDS                float64
NUM_UNIQUE_OPERATORS               float64
NUMBER_OF_LINES                    float64
PERCENT_COMMENTS                   float64
LOC_TOTAL                          float64
target                               int64
dtype: object

duplicates 0

,LOC_BLANK,BRANCH_COUNT,CALL_PAIRS,LOC_CODE_AND_COMMENT,LOC_COMMENTS,CONDITION_COUNT,CYCLOMATIC_COMPLEXITY,CYCLOMATIC_DENSITY,DECISION_COUNT,DECISION_DENSITY,...,NODE_COUNT,NORMALIZED_CYLOMATIC_COMPLEXITY,NUM_OPERANDS,NUM_OPERATORS,NUM_UNIQUE_OPERANDS,NUM_UNIQUE_OPERATORS,NUMBER_OF_LINES,PERCENT_COMMENTS,LOC_TOTAL,target
0,17.0,11.0,5.0,2.0,8.0,20.0,6.0,0.25,10.0,2.0,...,25.0,0.11,53.0,49.0,23.0,12.0,57.0,31.25,24.0,0
1,2.0,9.0,3.0,0.0,1.0,16.0,5.0,0.56,6.0,2.0,...,14.0,0.36,13.0,24.0,7.0,14.0,14.0,10.00,9.0,0
2,2.0,5.0,1.0,1.0,1.0,6.0,3.0,0.17,2.0,3.0,...,7.0,0.13,16.0,28.0,9.0,14.0,23.0,10.53,18.0,0
3,4.0,5.0,1.0,0.0,0.0,8.0,3.0,0.30,4.0,2.0,...,10.0,0.19,13.0,16.0,10.0,9.0,16.0,0.00,10.0,0
4,7.0,5.0,1.0,3.0,0.0,0.0,3.0,0.15,0.0,0.0,...,10.0,0.11,26.0,46.0,7.0,7.0,28.0,15.00,20.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1339,2.0,1.0,1.0,0.0,0.0,0.0,1.0,0.14,0.0,0.0,...,3.0,0.09,8.0,15.0,5.0,8.0,11.0,0.00,7.0,0
1340,16.0,22.0,4.0,18.0,7.0,22.0,15.0,0.25,10.0,2.0,...,32.0,0.18,125.0,275.0,25.0,29.0,85.0,37.31,60.0,0
1341,12.0,3.0,8.0,0.0,6.0,4.0,2.0,0.11,2.0,2.0,...,14.0,0.05,28.0,40.0,19.0,13.0,39.0,24.00,19.0,0
1342,8.0,9.0,0.0,0.0,10.0,0.0,5.0,0.42,0.0,0.0,...,10.0,0.16,20.0,38.0,9.0,20.0,32.0,45.45,12.0,0
1343,4.0,1.0,1.0,0.0,1.0,0.0,1.0,0.25,0.0,0.0,...,3.0,0.09,8.0,18.0,7.0,11.0,11.0,20.00,4.0,0

In [ ]:
print("Processing thyroid dataset...")
#https://openml.org/search?type=data&status=active&id=46082
with open("../data/data_original/thyroid.arff", "r") as file:
    dataset = arff.load(file)
thyroid = pd.DataFrame(dataset['data'], columns=[x[0] for x in dataset['attributes']])
thyroid

Processing thyroid dataset...

,Age,Gender,Smoking,Hx Smoking,Hx Radiothreapy,Thyroid Function,Physical Examination,Adenopathy,Pathology,Focality,Risk,T,N,M,Stage,Response,Recurred
0,27,F,No,No,No,Euthyroid,Single nodular goiter-left,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Indeterminate,No
1,34,F,No,Yes,No,Euthyroid,Multinodular goiter,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
2,30,F,No,No,No,Euthyroid,Single nodular goiter-right,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
3,62,F,No,No,No,Euthyroid,Single nodular goiter-right,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
4,62,F,No,No,No,Euthyroid,Multinodular goiter,No,Micropapillary,Multi-Focal,Low,T1a,N0,M0,I,Excellent,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,72,M,Yes,Yes,Yes,Euthyroid,Single nodular goiter-right,Right,Papillary,Uni-Focal,High,T4b,N1b,M1,IVB,Biochemical Incomplete,Yes
379,81,M,Yes,No,Yes,Euthyroid,Multinodular goiter,Extensive,Papillary,Multi-Focal,High,T4b,N1b,M1,IVB,Structural Incomplete,Yes
380,72,M,Yes,Yes,No,Euthyroid,Multinodular goiter,Bilateral,Papillary,Multi-Focal,High,T4b,N1b,M1,IVB,Structural Incomplete,Yes
381,61,M,Yes,Yes,Yes,Clinical Hyperthyroidism,Multinodular goiter,Extensive,Hurthel cell,Multi-Focal,High,T4b,N1b,M0,IVA,Structural Incomplete,Yes
382,67,M,Yes,No,No,Euthyroid,Multinodular goiter,Bilateral,Papillary,Multi-Focal,High,T4b,N1b,M0,IVA,Structural Incomplete,Yes

In [ ]:
print("Processing thyroid dataset...")
#https://openml.org/search?type=data&status=active&id=46082
with open("../data/data_original/thyroid.arff", "r") as file:
    dataset = arff.load(file)
thyroid = pd.DataFrame(dataset['data'], columns=[x[0] for x in dataset['attributes']])

# These columns should be one-hot encoded later, so save as categoricals
# Don't do one-hot encoding here



numericals = ['Age']
binaries = ['Gender', 'Smoking', 'Hx Smoking', 'Hx Radiotherapy']
categoricals = list(set(list(thyroid.columns)) - set(numericals) - set(binaries) - set(['Recurred']))

thyroid['Gender'].replace({'F': 0, 'M': 1}, inplace=True)
thyroid['Smoking'].replace({'No': 0, 'Yes': 1}, inplace=True)
thyroid['Hx Smoking'].replace({'No': 0, 'Yes': 1}, inplace=True)
thyroid['Hx Radiothreapy'].replace({'No': 0, 'Yes': 1}, inplace=True)


thyroid['Recurred'] = thyroid['Recurred'].apply(lambda x: 1 if x == 'Yes' else 0)
thyroid.rename(columns={'Recurred': 'target'}, inplace=True)
thyroid = thyroid[[c for c in thyroid.columns if c != 'target'] + ['target']]
thyroid.drop_duplicates(inplace=True)
thyroid.reset_index(drop=True, inplace=True)

basic_information(thyroid)
thyroid.to_csv('../data/data_prepared/thyroid.csv', index=False)
info_df.append(info_dict('thyroid', thyroid, categoricals, binaries))

Processing thyroid dataset...
Total NA: 0
Imbalance: target
0    256
1    108
Name: count, dtype: int64
Dtyoes: Age                      int64
Gender                   int64
Smoking                  int64
Hx Smoking               int64
Hx Radiothreapy          int64
Thyroid Function        object
Physical Examination    object
Adenopathy              object
Pathology               object
Focality                object
Risk                    object
T                       object
N                       object
M                       object
Stage                   object
Response                object
target                   int64
dtype: object
duplicates 0

In [ ]:
print("Processing wilt dataset...")
#https://www.openml.org/search?type=data&status=active&id=40983&sort=runs
wilt = pd.read_csv('../data/data_original/wilt.csv')
wilt.rename(columns={'class': 'target'}, inplace=True)
wilt['target'] = wilt['target'].replace({'w': 1, 'n': 0})
wilt = wilt[[c for c in wilt.columns if c != 'target'] + ['target']]
wilt.drop_duplicates(inplace=True)
wilt.reset_index(drop=True, inplace=True)

numericals = list(set(wilt.columns) - {'target'})
categoricals = []
binaries = []

basic_information(wilt)
wilt.to_csv('../data/data_prepared/wilt.csv', index=False)
info_df.append(info_dict('wilt', wilt, categoricals, binaries))
wilt

Processing wilt dataset...
Total NA: 0
Imbalance: target
0    4251
1      74
Name: count, dtype: int64
Dtyoes: GLCM_pan      float64
Mean_Green    float64
Mean_Red      float64
Mean_NIR      float64
SD_pan        float64
target          int64
dtype: object
duplicates 0

        GLCM_pan  Mean_Green    Mean_Red    Mean_NIR     SD_pan  target
0     120.362774  205.500000  119.395349  416.581395  20.676318       1
1     124.739583  202.800000  115.333333  354.333333  16.707151       1
2     134.691964  199.285714  116.857143  477.857143  22.496712       1
3     127.946309  178.368421   92.368421  278.473684  14.977453       1
4     135.431548  197.000000  112.690476  532.952381  17.604193       1
...          ...         ...         ...         ...        ...     ...
4320  111.568773  203.588235   93.264706  403.735294  26.512777       0
4321  125.435240  206.394161   93.058394  512.270073  33.466060       0
4322  132.123859  465.343750  295.333333  499.250000  38.762967       0
4323  124.469536  215.152632   98.484211  675.915789  28.506542       0
4324  125.171928  559.048000  365.968000  439.272000  15.392322       0

[4325 rows x 6 columns]

In [ ]:
print("Processing wisconsin dataset...")
#https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic
wisconsin = pd.read_csv('../data/data_original/wisconsin.data', header=None)
wisconsin.rename(columns={0:'ID', 10:'target'}, inplace=True)
wisconsin['target'].replace({4: 0, 2: 1}, inplace=True)
wisconsin.drop(columns=['ID'], inplace=True)
wisconsin[6] = pd.to_numeric(wisconsin[6], errors='coerce').fillna(0).astype('int32')
wisconsin.drop_duplicates(inplace=True)
wisconsin.reset_index(drop=True, inplace=True)

numericals = list(set(wisconsin.columns) - {'target'})
categoricals = []
binaries = []

basic_information(wisconsin)
wisconsin.to_csv('../data/data_prepared/wisconsin.csv', index=False)
info_df.append(info_dict('wisconsin', wisconsin, categoricals, binaries))

print("Saving data info...")
info_df = pd.DataFrame(info_df)
info_df.to_csv('../data/data_info.csv', index=False)
print("Data preprocessing completed successfully!")
print(f"Processed {len(info_df)} datasets")
wisconsin

Processing wisconsin dataset...
Total NA: 0
Imbalance: target
0    238
1    225
Name: count, dtype: int64
Dtyoes: 1         int64
2         int64
3         int64
4         int64
5         int64
6         int32
7         int64
8         int64
9         int64
target    int64
dtype: object
duplicates 0
Saving data info...
Data preprocessing completed successfully!
Processed 10 datasets

     1   2   3  4  5   6   7   8  9  target
0    5   1   1  1  2   1   3   1  1       1
1    5   4   4  5  7  10   3   2  1       1
2    3   1   1  1  2   2   3   1  1       1
3    6   8   8  1  3   4   3   7  1       1
4    4   1   1  3  2   1   3   1  1       1
..  ..  ..  .. .. ..  ..  ..  .. ..     ...
458  3   1   1  1  2   1   2   1  2       1
459  3   1   1  1  3   2   1   1  1       1
460  5  10  10  3  7   3   8  10  2       0
461  4   8   6  4  3   4  10   6  1       0
462  4   8   8  5  4   5  10   4  1       0

[463 rows x 10 columns]

In [ ]:
info_df = pd.DataFrame(info_df)
info_df.to_csv('../data/data_info.csv', index=False)
info_df = pd.read_csv('../data/data_info.csv')
info_df

,name,n_samples,n_features,imbalance,categoricals,binaries,n_categoricals,n_binaries,train_indices,test_indices
0,auction,2043,7,0.128243,[],[],0,0,"[[1491, 889, 327, 369, 1874, 425, 916, 778, 35...","[[1656, 277, 672, 1829, 1197, 1919, 214, 638, ..."
1,autism,485,15,0.261856,[],"['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score...",0,14,"[[289, 178, 328, 477, 233, 453, 463, 366, 285,...","[[95, 309, 348, 343, 462, 26, 24, 298, 181, 1,..."
2,biomed,209,5,0.358852,[],[],0,0,"[[56, 65, 26, 59, 14, 55, 139, 198, 140, 45, 1...","[[72, 73, 147, 95, 143, 100, 122, 10, 33, 202,..."
3,credit,1125,40,0.200000,[],"['fea_1_2', 'fea_9_3', 'fea_1_5', 'fea_7_8', '...",0,36,"[[578, 647, 446, 304, 122, 1052, 778, 1115, 16...","[[160, 1004, 577, 1123, 585, 1071, 57, 655, 93..."
4,darwin,174,450,0.488506,[],[],0,0,"[[70, 93, 115, 97, 136, 123, 163, 101, 121, 14...","[[28, 146, 132, 18, 156, 1, 165, 159, 13, 141,..."
5,heart,299,12,0.321070,[],"['high_blood_pressure', 'sex', 'anaemia', 'dia...",0,5,"[[262, 52, 30, 12, 213, 222, 199, 45, 292, 290...","[[200, 183, 146, 223, 120, 287, 167, 232, 198,..."
6,pc4,1344,37,0.131696,[],[],0,0,"[[217, 276, 1093, 40, 162, 536, 754, 398, 837,...","[[205, 506, 444, 475, 90, 1175, 389, 588, 715,..."
7,thyroid,364,16,0.296703,"['Pathology', 'T', 'M', 'N', 'Response', 'Phys...","['Gender', 'Smoking', 'Hx Smoking', 'Hx Radiot...",12,4,"[[189, 116, 17, 252, 362, 34, 285, 205, 96, 95...","[[152, 220, 146, 313, 162, 224, 1, 202, 155, 2..."
8,wilt,4325,5,0.017110,[],[],0,0,"[[1431, 1317, 3838, 1711, 2109, 3187, 3943, 19...","[[1434, 1242, 833, 3189, 1149, 3506, 2842, 426..."
9,wisconsin,463,9,0.485961,[],[],0,0,"[[205, 13, 334, 418, 168, 295, 365, 26, 222, 1...","[[87, 431, 439, 16, 52, 343, 216, 99, 324, 394..."

In [91]:
info_df.iloc[:, :4]

        name  n_samples  n_features  imbalance
0    auction       2043           7   0.128243
1     autism        485          15   0.261856
2     biomed        209           5   0.358852
3     credit       1125          40   0.200000
4     darwin        174         450   0.488506
5      heart        299          12   0.321070
6        pc4       1344          37   0.131696
7    thyroid        364          16   0.296703
8       wilt       4325           5   0.017110
9  wisconsin        463           9   0.485961